body,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* NAVBAR */
.navbar {
    gap: 60%;
    height: 50px;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
}

.navbar-menu {
    gap: 20px;
}

.navbar-menu a:hover {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 40px;
}

.highlight-btn img {
    width: 30px;
  }
  
  .logo p {
    font-size: 120%;
    margin: 5px;
  }
  
  .highlight-btn {
    padding: 5px;
    background-color: rgb(255, 103, 103);
    border-radius: 5px;
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .highlight-btn:hover {
    cursor: pointer;
  }
  
  .highlight-btn p {
    margin: 0;
    margin-left: 10px;
  }

/* CONTENT */

.catalog-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.sort-bar {
    width: 20vw;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 50vh;
}

.content-bar {
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.content-header {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.content-header h2 {
    font-size: 150%;
}

.search-wrap {
    width: 20vw;
    background-color: rgb(255, 103, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.search-wrap input {
    width: 85%;
    height: 30px;
    font-size: 100%;
}

.search-wrap input:focus {
    outline: 1px solid #000;
}

.fit-content {
    min-width: 30px;
    width: max-content;
    text-align: center;
    margin: auto;
}

/* CARD */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.width90 {
    gap: 30px;
    width: 90%;
    margin-top: 2%;
}

.card {
    width: 150px;
    height: 300px;
    background-color: white;
    padding: 1vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.05);
}

.card img {
    width: 150px;
}